$colors:(primary:rgba(15, 15, 15, 0.35),
    "white":#fff,
    "black":#000,
    "lightblue":rgb(0,192,255),
    "lightgrey":#827c79,
    'grey':rgb(33,33,33),
    'lightdark':rgb(10,10,10)
    );
// fontsize
$base-font-size:1rem;
$fonts:(xs:0.7692, //10px
    sm:0.9231, //12px
    md:1, //13px,
    lg:1.0769, //14px
    xl:1.2308 //16px
);

@each $sizekey,
$size in $fonts {
    .fs-#{$sizekey} {
        font-size: $size*$base-font-size;
    }
}

//text-align
@each $var in (left, center, right) {
    .text-#{$var} {
        text-align: $var;
    }
}
//text-color
@each $key ,$var in $colors {
    .text-#{$key} {
        color: $var;
    }
}
//flex
.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

$flex-jc:(start:flex-start,
    end:flex-end,
    center:center,
    between:space-between,
    around:space-around,
);

@each $key,
$value in $flex-jc {
    .jc-#{$key} {
        justify-content: $value;
    }
}


$flex-ai:(start:flex-start,
    end:flex-end,
    center:center,
    stretch:stretch);

@each $key,
$value in $flex-ai {
    .ai-#{$key} {
        align-items: $value;
    }
}



.flex-1 {
    flex: 1;
}



.flex-grow-1 {
    flex-grow: 1;
}


//spacing
$spacing-types:(m:margin,
    p:padding);

$spacing-directions:(t:top,
    r:right,
    b:bottom,
    l:left);

$spacing-base-sizes:1rem;

$spacing-sizes:(0:0,
    1:0.25,
    2:0.5,
    3:1,
    4:1.5,
    5:3);

@each $tkey,
$tvalue in $spacing-types {

    //m-1
    @each $skey,
    $svalue in $spacing-sizes {
        .#{$tkey}-#{$skey} {
            #{$tvalue}: $svalue*$spacing-base-sizes
        }
    }

    //mx-1
    @each $skey,
    $svalue in $spacing-sizes {
        .#{$tkey}x-#{$skey} {
            #{$tvalue}: 0 $svalue*$spacing-base-sizes
        }

        .#{$tkey}y-#{$skey} {
            #{$tvalue}: $svalue*$spacing-base-sizes 0
        }
    }


    //mt-1
    @each $dkey,
    $dvalue in $spacing-directions {

        @each $skey,
        $svalue in $spacing-sizes {
            .#{$tkey}#{$dkey}-#{$skey} {
                #{$tvalue}-#{$dvalue}: $svalue*$spacing-base-sizes
            }
        }
    }

}

html {
    font-size: 14px;
    body {
        font: 12px/1.5 Arial, 'Droid Sans', 'Hiragino Sans GB', 'Microsoft YaHei';
    }
}
.clear::after{
    content: '';
    clear: both;
    display: block;
}
#dota2_nav {

    #nav_main {
        height: 80px;
        background: url('./assets/data2.home.nav.bg.png') repeat;
        .nav_content {
            width: 1100px;
            height: 100%;
            margin: auto;
            ul{
                height: 100%;
                li{
                    position: relative;
                    &:hover{
                        background-color: #000;
                    }
                    >a{
                        display: block;
                        padding: 30px;
                        &:hover{
                            background-color: #000;
                            color: map-get($colors, 'lightblue');
                        }
                        span{
                            display: block;
                        }
                        .nav_link{
                            font-size: 12px;
                            margin-top: 2px;
                            transform: scale(0.75);
                        }
                    }
                    &:hover .pop{
                        display: block;
                        width: 100%;
                    }
                    .pop{
                        transition: width 5s;
                        width: 0%;
                        display: none;
                        position: absolute;
                        top: 84px;
                        z-index: 1;
                        box-sizing: border-box;
                        background-image:linear-gradient(to bottom, black, 70%,rgba(255, 255, 255, 0));
        
                        a{
                            width: 100%;
                            text-align: center;
                        
                            box-sizing: border-box;
                            padding: 20px 20px;
                            display: block;
                            &:hover{
                                color: map-get($colors, 'lightblue');
                            }
                        }
                    }
                }
            }   
        }
    }

    #nav_footer {
        position: relative;
        font-size:0px;
        img {
            width: calc(50%);
        }

        .mask {
            width: 100%;
            height: 100%;
            background-color: rgba(15, 15, 15, 0.9);
            position: absolute;
            top: 0;
        }
    }
}
#dota2_main{
    background-color: map-get($colors,"grey");
}
#dota2_footer{
    .footer_scrollup{
        background-color: map-get($colors, 'lightdark' );
    span{
        line-height: 25px;
    }
    }
    .footer_footer{
        height: 180px;
        background-color: #000;
    }
}

.hero{
    .hero_container{
        header{
            height: 40px;
            background-color: #0A0A0A;
            ul {
                height: 100%;
                margin: 0 auto;
                width: 1100px;
                li{
              
                color: white;
                font-size: 12px;
                color: #AAAAAA;
                    a{
                        padding: 12px 20px;
                         &:hover{
                            background-color: rgb(26, 26, 26);
                        }
                    }
                }
            }
        }
        main{
            background-color: rgb(26, 26, 26);
           
        }
    }
  
}